@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html,
body {
  padding: 60px 10px;
  margin: 0;
  background-color: #6c54d8;
  color: #fff;
  width: 100%;
  height: 100%;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", "san-serif";
}
